
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	ignore = all
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
	ignore = all
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	ignore = all
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = all
	branch = docking
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
	ignore = all
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
	ignore = all
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = all
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog.git
	ignore = all
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
	ignore = all
[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
	ignore = all
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
	ignore = all
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
	ignore = all
[submodule "external/physx"]
	path = external/physx
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "external/iconfontcppheaders"]
	path = external/iconfontcppheaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk
[submodule "external/bitmask"]
	path = external/bitmask
	url = https://github.com/oliora/bitmask
