[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/external/entt"]
	path = engine/external/entt
	url = https://github.com/skypjack/entt
[submodule "engine/external/stb"]
	path = engine/external/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/external/magic_enum"]
	path = engine/external/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "engine/external/yaml-cpp"]
	path = engine/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "engine/external/plog"]
	path = engine/external/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "engine/external/imguizmo"]
	path = engine/external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "engine/external/portable-file-dialogs"]
	path = engine/external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
