[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
	ignore = all
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	ignore = all
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	ignore = all
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	ignore = all
	branch = docking
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
	ignore = all
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
	ignore = all
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog
	ignore = all
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
	ignore = all
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
	ignore = all
[submodule "external/gli"]
	path = external/gli
	url = https://github.com/g-truc/gli
	ignore = all
[submodule "external/physx"]
	path = external/physx
	url = https://github.com/NVIDIAGameWorks/PhysX
	ignore = all
[submodule "external/iconfontcppheaders"]
	path = external/iconfontcppheaders
	url = https://github.com/juliettef/IconFontCppHeaders
	ignore = all
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
	ignore = all
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
	ignore = all
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk
	ignore = all
[submodule "external/bitmask"]
	path = external/bitmask
	url = https://github.com/oliora/bitmask
	ignore = all
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
	ignore = all
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/icculus/physfs
	ignore = all
[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
	ignore = all
[submodule "external/imguial"]
	path = external/imguial
	url = https://github.com/leiradel/ImGuiAl
	ignore = all
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
	ignore = all
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
	ignore = all
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid
	ignore = all
[submodule "external/span"]
	path = external/span
	url = https://github.com/tcbrindle/span
	ignore = all
